on boot
	chown system system /sys/class/backlight/vilivs5-bl/brightness

service s5hw /system/bin/sh /system/etc/init.s5.sh
	oneshot

service hciattach /system/bin/hciattach -n -s 115200 /dev/ttyS0 csr 4000000 flow
	user bluetooth
	group bluetooth net_bt_admin
	disabled
